
* {
  padding: 0px;
  margin: 0px;
}

body {

    background-image: url(https://i.pinimg.com/originals/b1/20/25/b1202568d88e8fe9e02e7a67fa42c93e.jpg);
  
}

#main-container {
  display: flex;

}

#buttons-sidebar {
  display: flex;
  justify-content: center;
  border: solid white;

  width: 300px;
  height: 800px;
}

#instructions-sidebar {
  border: thick double;
  border-color: white;
  width: 300px;
  height: 800px;
  color: white;
  background-image: url(https://cdn.dribbble.com/users/1637239/screenshots/3810121/paper_plane.gif);
}

#game {
  width: 600px;
  height: 900px;
  margin: auto;
  border: solid white;
  overflow: hidden;
}

#paperplane {
  width: 200px;
  height: 100px;
  position: relative;
  top: 700px;
  left: 200px;
  background-image: url(https://i.pinimg.com/originals/5c/0f/68/5c0f6834e0f766121ee18a619243debc.gif);
  background-size: 200px 150px;
}

#obstacle {
  width: 200px;
  height: 100px;
  background-image: url(https://img.cloudygif.com/full/7db227b87d2a5540.gif);
  background-size: 200px 150px;
  position: relative;
  top: 1000px;
  animation: slide 3s infinite;
}

@keyframes slide {
  0% {top:-100px};
}